In [1]:
import pandas as pd

In [2]:
nRowsRead = 10000 # specify 'None' if want to read whole file

df = pd.read_csv("vehicles.csv", delimiter=',', nrows = nRowsRead)

In [3]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10000 non-null  int64
 1   url           10000 non-null  object
 2   region        10000 non-null  object
 3   region_url    10000 non-null  object
 4   price         10000 non-null  int64
 5   year          9887 non-null   float64
 6   manufacturer  9517 non-null   object
 7   model         9871 non-null   object
 8   condition     5347 non-null   object
 9   cylinders     6713 non-null   object
 10  fuel          9878 non-null   object
 11  odometer      9942 non-null   float64
 12  title_status  9753 non-null   object
 13  transmission  9917 non-null   object
 14  VIN           6881 non-null   object
 15  drive         7101 non-null   object
 16  size          2600 non-null   object
 17  type          8149 non-null   object
 18  paint_color   7984 non-null   object
 19  image_url     9973 non-null   object
 20  description   9973 non-null   object
 21  county        0 non-null      float64
 22  state         10000 non-null  object
 23  lat           9928 non-null   float64
 24  long          9928 non-null   float64
 25  posting_date  9973 non-null   object
dtypes: float64(5), int64(2), object(19)
memory usage: 2.0+ MB

In [5]:
df.isnull().sum()/len(df)

id              0.0000
url             0.0000
region          0.0000
region_url      0.0000
price           0.0000
year            0.0113
manufacturer    0.0483
model           0.0129
condition       0.4653
cylinders       0.3287
fuel            0.0122
odometer        0.0058
title_status    0.0247
transmission    0.0083
VIN             0.3119
drive           0.2899
size            0.7400
type            0.1851
paint_color     0.2016
image_url       0.0027
description     0.0027
county          1.0000
state           0.0000
lat             0.0072
long            0.0072
posting_date    0.0027
dtype: float64

In [6]:
for column in df.columns:
    if df[column].dtype in ['float64', 'int64']:
        df[column].fillna(df[column].mean(), inplace=True)
    else:  
        df[column].fillna(df[column].mode()[0], inplace=True)

print(df.isnull().sum())

id                  0
url                 0
region              0
region_url          0
price               0
year                0
manufacturer        0
model               0
condition           0
cylinders           0
fuel                0
odometer            0
title_status        0
transmission        0
VIN                 0
drive               0
size                0
type                0
paint_color         0
image_url           0
description         0
county          10000
state               0
lat                 0
long                0
posting_date        0
dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_1316\2892170387.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_1316\2892170387.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            10000 non-null  int64
 1   url           10000 non-null  object
 2   region        10000 non-null  object
 3   region_url    10000 non-null  object
 4   price         10000 non-null  int64
 5   year          10000 non-null  float64
 6   manufacturer  10000 non-null  object
 7   model         10000 non-null  object
 8   condition     10000 non-null  object
 9   cylinders     10000 non-null  object
 10  fuel          10000 non-null  object
 11  odometer      10000 non-null  float64
 12  title_status  10000 non-null  object
 13  transmission  10000 non-null  object
 14  VIN           10000 non-null  object
 15  drive         10000 non-null  object
 16  size          10000 non-null  object
 17  type          10000 non-null  object
 18  paint_color   10000 non-null  object
 19  image_url     10000 non-null  object
 20  description   10000 non-null  object
 21  county        0 non-null      float64
 22  state         10000 non-null  object
 23  lat           10000 non-null  float64
 24  long          10000 non-null  float64
 25  posting_date  10000 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 2.0+ MB

In [8]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,2011.93891,ford,f-150,good,6 cylinders,...,full-size,SUV,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,"Frontier Auto Sales We accept trades! (tow it,...",NaN,az,43.332321,-111.367014,2021-04-08T10:08:44-0500
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,2011.93891,ford,f-150,good,6 cylinders,...,full-size,SUV,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,"Frontier Auto Sales We accept trades! (tow it,...",NaN,ar,43.332321,-111.367014,2021-04-08T10:08:44-0500
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,2011.93891,ford,f-150,good,6 cylinders,...,full-size,SUV,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,"Frontier Auto Sales We accept trades! (tow it,...",NaN,fl,43.332321,-111.367014,2021-04-08T10:08:44-0500
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,2011.93891,ford,f-150,good,6 cylinders,...,full-size,SUV,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,"Frontier Auto Sales We accept trades! (tow it,...",NaN,ma,43.332321,-111.367014,2021-04-08T10:08:44-0500
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,2011.93891,ford,f-150,good,6 cylinders,...,full-size,SUV,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,"Frontier Auto Sales We accept trades! (tow it,...",NaN,nc,43.332321,-111.367014,2021-04-08T10:08:44-0500

In [9]:
df["manufacturer"].value_counts()

manufacturer
ford               2193
chevrolet          1523
toyota              739
jeep                532
nissan              448
ram                 395
gmc                 390
dodge               384
honda               383
kia                 275
bmw                 271
subaru              206
mercedes-benz       198
lexus               192
hyundai             188
acura               175
volkswagen          164
cadillac            162
chrysler            137
audi                136
buick               124
infiniti            120
lincoln             105
mazda                95
volvo                77
mitsubishi           55
jaguar               54
mini                 51
rover                51
pontiac              42
alfa-romeo           34
porsche              22
tesla                20
fiat                 18
mercury              18
saturn               15
harley-davidson       5
ferrari               3
Name: count, dtype: int64

### 1. What is the average price of the vehicles in the dataset?

In [10]:
average_price = df['price'].mean()
print(f"The average price of vehicles is: ${average_price:.2f}")

The average price of vehicles is: $130303.01

### 2. Which region has the highest number of listings?

In [11]:
region_counts = df['region'].value_counts()
top_region = region_counts.idxmax()
top_region_count = region_counts.max()
print(f"The region with the highest number of listings is: {top_region} with {top_region_count} listings.")

The region with the highest number of listings is: anchorage / mat-su with 2742 listings.

### 3. What is the most common car manufacturer in the dataset?

In [12]:
common_manufacturer = df['manufacturer'].mode()[0]
print(f"The most common car manufacturer is: {common_manufacturer}")

The most common car manufacturer is: ford

### 4. What is the average odometer reading for vehicles in the dataset?

In [13]:
average_odometer = df['odometer'].mean()
print(f"The average odometer reading for vehicles is: {average_odometer:.2f} miles")

The average odometer reading for vehicles is: 105944.46 miles

### 5. What is the distribution of fuel types across the listings?

In [15]:
fuel_distribution = df['fuel'].value_counts()
print("Fuel type distribution:")
print(fuel_distribution)

Fuel type distribution:
fuel
gas         8507
other        720
diesel       621
hybrid       102
electric      50
Name: count, dtype: int64

### 6. What is the average price of cars by transmission type?

In [16]:
average_price_by_transmission = df.groupby('transmission')['price'].mean()
print("Average price by transmission type:")
print(average_price_by_transmission)

Average price by transmission type:
transmission
automatic    3.369146e+04
manual       1.720850e+06
other        2.790922e+04
Name: price, dtype: float64

### 7. What are the top 5 most common vehicle models listed?

In [17]:
top_5_models = df['model'].value_counts().head(5)
print("Top 5 most common vehicle models:")
print(top_5_models)

Top 5 most common vehicle models:
model
f-150             368
silverado 1500    154
silverado         114
1500               94
wrangler           86
Name: count, dtype: int64

### 8. What is the average year of the vehicles listed?

In [18]:
average_year = df['year'].mean()
print(f"The average year of the vehicles is: {average_year:.0f}")

The average year of the vehicles is: 2012

### 9. How many vehicles have over 100,000 miles on the odometer?

In [19]:
high_mileage_count = df[df['odometer'] > 100000].shape[0]
print(f"There are {high_mileage_count} vehicles with over 100,000 miles on the odometer.")

There are 3479 vehicles with over 100,000 miles on the odometer.

### 10. What is the average price of vehicles for each manufacturer?

In [20]:
average_price_by_manufacturer = df.groupby('manufacturer')['price'].mean()
print("Average price by manufacturer:")
print(average_price_by_manufacturer)

Average price by manufacturer:
manufacturer
acura               25606.394286
alfa-romeo          30382.058824
audi                28434.198529
bmw                 23830.339483
buick               14078.435484
cadillac            23225.975309
chevrolet          671202.612607
chrysler            16053.153285
dodge               17621.427083
ferrari            137966.666667
fiat                12058.833333
ford                67834.378021
gmc                 26319.410256
harley-davidson     17857.000000
honda               13783.091384
hyundai             13817.398936
infiniti            25296.858333
jaguar              31549.833333
jeep                23036.979323
kia                 15298.883636
lexus               22142.880208
lincoln             25345.800000
mazda               17543.778947
mercedes-benz       21739.712121
mercury              4721.333333
mini                19047.980392
mitsubishi          19532.727273
nissan              17737.680804
pontiac             10527.714286
porsche             43016.454545
ram                 28669.951899
rover               32704.960784
saturn               4069.800000
subaru              18532.601942
tesla               42623.850000
toyota              20658.672530
volkswagen          15818.323171
volvo               22289.844156
Name: price, dtype: float64